<div>
<form (ngSubmit)="save(myForm)" #myForm="ngForm">
      <input matInput [(ngModel)]="city" name="city" city="ngModel" placeholder="עיר">         
    <br/>
    <br/>
  <input type="submit">
  </form>
  <div *ngIf="flag==true">
    <div  *ngFor="let item of w" >
      <p>יום {{item.date}}</p>
      <p>טמפרטורה ממוצעת {{item.day.avgtemp_c}}</p>
      <p>מהירות הרוח ממוצעת {{item.day.avgvis_km}}</p>
      <div *ngFor="let hour of item.hour">
      <p>טמפרטורה {{hour.temp_c}}</p>     
      <p>מהירות הרוח {{hour.vis_km}}</p>
      <br/>
    </div>
    </div>
  </div>
 </div> 